aws_region              = "us-east-1"
project_name            = "backend-truck"
lambda_zip_path         = "../../dist/lambda.zip"
db_password             = "change-me-secure-password"
db_deletion_protection  = true
